.top_class{ width: 100%; height: 0.88rem; background-color: #48acf8; position: fixed; z-index: 5; top: 0; left: 0; transition: .3s all;}
.top_class h2{ font-size: 0.36rem; color: #fff; text-align: center; line-height: 0.88rem; font-weight: 400;}
.top_class i{ position: fixed; width: 0.88rem; height: 0.88rem; top: 0; left: 0; }
.top_class img{ width: 100%; display: block; }
.translate_hover{ transform: translateX(100%); }
/*内容*/
.content{ width: 100%; padding-top: 1.14rem; height: 12rem; background: #f3f3f3; }
.c_box{ width: 6.3rem; background: #fff; border: solid 1px #ddd; border-radius: 0.08rem; margin: auto; padding: 0 0.2rem 0.52rem;}
.c_box h2{ font-size: 0.3rem; font-weight: 400; color: #333; text-align: center; line-height: 0.76rem; height: 0.76rem; border-bottom: solid 1px #ddd; }
/*开始*/
#start{ width: 100%; }
#start ul{ padding: 0.24rem 0; }
#start li{ font-size: 0.28rem; color: #333; line-height: 0.52rem; margin-bottom: 0.24rem; }
#start li span{ color: #999999; }
#start h3{ display: block; width: 2.48rem; height: 0.68rem; font-size: 0.3rem; color: #fff; text-align: center; line-height: 0.68rem; font-weight: 400; margin: auto; border-radius: 0.08rem; background: #48acf8;}
/*步骤*/
#step_content{ padding: 0.24rem 0 1rem; color: #333;}
#step_content h4{ font-size: 0.3rem; height: 0.52rem; line-height: 0.52rem; margin-bottom: 0.24rem; }
#step_content p{ font-size: 0.28rem; height: 0.52rem; line-height: 0.52rem; margin-bottom: 0.24rem;}
#step_content span{ color: #999999; }
#step_form{ width: 100%; margin-bottom: 0.5rem;}
#step_form p{ padding-left: 0.68rem; }
.button{ width: 5.38rem; overflow: auto; display: block; margin: auto;}
.button h3{ display: block; width: 2.48rem; height: 0.68rem; font-size: 0.3rem; color: #fff; text-align: center; line-height: 0.68rem; font-weight: 400; border-radius: 0.08rem; background: #48acf8; float: left;}
.button h3:nth-child(1){ margin-right: 0.38rem;}
.button h3:nth-child(2){ display: none; }
