.banner{ width: 100%; padding: 25% 0; position: relative; z-index: 2; overflow: hidden; background-image: url(../image/community.jpg); background-size: cover; background-position: center center; background-attachment: fixed; }
.banner::before{ content: ''; position: absolute; width: 100%; height: 100%; z-index: -1; left: 0; top: 0; background-color: rgba(0,0,0,0.1); }
.banner_text{ width: 900px; height: 170px; padding: 9% 0; background: rgba(0,0,0,0.5); color: #fff; text-align: center; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; transition: 1s all; -webkit-transition: 1s all; -moz-transition: 1s all; -ms-transition: 1s all; -o-transition: 1s all; transform-origin: center top; -webkit-transform-origin: center top; }
.text_hide{ transform: perspective(800px) rotateX(-90deg); -webkit-transform: perspective(800px) rotateX(-90deg); -moz-transform: perspective(800px) rotateX(-90deg); -ms-transform: perspective(800px) rotateX(-90deg); -o-transform: perspective(800px) rotateX(-90deg); }
.banner_text::before{ content: ""; position: absolute; box-sizing: border-box; left: 2.5%; top: 5%; width: 95%; height: 90%; border: solid 2px #fff; }
.banner_text h2{ font-size: 38px; margin-bottom: 20px; }
.banner_text h3{ font-size: 28px; margin-bottom: 20px; }
.banner_text p{ font-size: 16px; color: #fff;}
/* 内容 */
.content{ width: 100%; overflow: hidden; padding: 60px 0; text-align: center; color: rgb(43,43,43); }
.content h2{ font-weight: 400; font-size: 28px; margin-bottom: 20px; }
.content i{ display: block; width: 100px; height: 3px; background: rgb(43,43,43); margin-bottom: 20px; margin: 0 auto 20px;}
.content h3{ font-weight: 400; font-size: 18px; margin-bottom: 20px; }
.content p{ font-size: 16px; color: rgb(148, 148, 148); margin-bottom: 20px; line-height: 24px;}
.bg{ background: #eeeeee; }
/*  */
.news{ width: 1200px; margin: 0 auto; overflow: hidden; }
.news li{ width: 100%; overflow: hidden; margin-bottom: 40px; }
.news div{ width: 50%; position: relative; }
.news li:nth-child(even) div{ float: left; }
.news li:nth-child(odd) div{ float: right; }
.news span{ width: 85%; height: 80%; padding: 2% 2.5%; background: #fff; position: absolute; top: 7.5%; left: 5%; -webkit-transition: .8s all; -moz-transition: .8s all; -ms-transition: .8s all; -o-transition: .8s all; transition: .8s all; }
.news h3{ color: #525252; }
.news i{ background: #525252; }
.right_show{ opacity: 1; transform: translate(-100%, 0%); -webkit-transform: translate(-100%, 0%); -moz-transform: translate(-100%, 0%); -ms-transform: translate(-100%, 0%); -o-transform: translate(-100%, 0%); }
.left_show{ opacity: 1; transform: translate(100%, 0%); -webkit-transform: translate(100%, 0%); -moz-transform: translate(100%, 0%); -ms-transform: translate(100%, 0%); -o-transform: translate(100%, 0%); }
.card_hide{ opacity: 0; transform: translate(0%, 0%); -webkit-transform: translate(0%, 0%); -moz-transform: translate(0%, 0%); -ms-transform: translate(0%, 0%); -o-transform: translate(0%, 0%); }
/*  */
.travels{ width: 100%; overflow: hidden; }
.travels li{ width: 100%; overflow: hidden; }
.travels div{ float: left; width: 50%; transition: 1s all; -webkit-transition: 1s all; -moz-transition: 1s all; -ms-transition: 1s all; -o-transition: 1s all; }
.travels .text_right{ text-align: left; padding: 7% 0 0 2%; width: 48%; }
.travels .photo_right{ float: right; }
.travels .text_left{ float: right; text-align: right; padding: 7% 2% 0 0; width: 48%; }
/*响应式*/
@media screen and (max-width: 1366px) {
	.travels .text_right{ padding-top: 5%;}
	.travels .text_left{ padding-top: 5%; }
}
@media screen and (max-width: 1200px) {
    .banner_text{ height: 140px; width: 80%; }
    .banner_text h2{ font-size: 28px; }
    .banner_text h3{ font-size: 16px; }
    .banner_text p{ font-size: 14px; }
    .news{ width: 100%; }
}
@media screen and (max-width: 1128px) {
	.card h2{ font-size: 20px; margin-bottom: 10px; }
	.card h3{ font-size: 16px; margin-bottom: 10px; }
    .card p{ font-size: 14px; margin-bottom: 10px; }
    .card i{ margin-bottom: 10px; }
}
@media screen and (max-width: 930px) {
    .banner{ padding: 0; height: 100vh; }
    .banner_text{ padding: 10% 20px; }
    .news div{ width: 100%; }
    .news span{ height: auto; top: 26%; }
    .left_show, .right_show{ transform: translate(0%, 0%); -webkit-transform: translate(0%, 0%); -moz-transform: translate(0%, 0%); -ms-transform: translate(0%, 0%); -o-transform: translate(0%, 0%); }
    .card_hide{ transform: translate(0%, -100%); -webkit-transform: translate(0%, -100%); -moz-transform: translate(0%, -100%); -ms-transform: translate(0%, -100%); -o-transform: translate(0%, -100%); }
    .travels{ width: 95%; margin: 0 auto;}
	.travels div{ width: 100%; float: none;}
	.travels .text_right{ padding: 5% 0; width: 100%; }
	.travels .photo_right{ float: none; }
	.travels .text_left{ text-align: left; padding: 5% 0; width: 100%;}
}
@media screen and (max-width: 605px) {
    .banner_text{ height: 170px; }
    .banner_text h2{ font-size: 24px; }
    .news li{ padding-bottom: 140px; }
    .news li:nth-child(3){ margin-bottom: 0; }
}
@media screen and (max-width: 358px) {
    .news li{ padding-bottom: 155px; }
}









