/*焦点图*/
.banner{ width: 100%; height: 657px; z-index: 2; position: relative; overflow: hidden;}
.banner ul{ width: 100%; height: 100%;}
.banner li{width: 100%; height: 100%; background-position: center center; background-size: cover; background-attachment: fixed; position: absolute; top: 0; left: 0; opacity: 0; -webkit-transition: 3s all; transition: 3s all; -moz-transition: 3s all; -o-transition: 3s all;}
.banner li:nth-child(1){ background-image: url(../img/index.jpg); }
.banner li:nth-child(2){ background-image: url(../img/index2.jpg); }
.banner li:nth-child(3){ background-image: url(../img/index4.jpg); }
.banner .index_hover{ z-index: 2; opacity: 1; }
.banner .index_b{ z-index: 3; opacity: 1; }
.banner span{ width: 910px; height: 250px; color: #fff; text-align: center; display: block; border-top: solid 2px #fff; position: absolute; margin: auto; left: 0; right: 0; top: 0; bottom: 0; -webkit-transition: 2s all; transition: 2s all; -moz-transition: 2s all; -o-transition: 2s all; }
.banner span h2{ font-weight: 400; font-size: 74px; margin-bottom: 10px; }
.banner span h3{ font-weight: 400; font-size: 28px; margin-bottom: 20px; }
.banner span p{ font-size: 16px; margin-bottom: 20px; }
.banner span i{ display: block; width: 250px; height: 2px; margin: 0 auto; background: rgba(255,255,255,0.3); }
.banner em{ display: block; width: 1%; height: 2px; background: #fff;}
.banner .em_move{ animation: loadline 6s linear infinite; -webkit-animation: loadline 6s linear infinite; }
@keyframes loadline{
	0%{ width: 1%; }
	100%{ width: 100%; }
}
@-webkit-keyframes loadline{
	0%{ width: 1%; }
	100%{ width: 100%; }
}
.banner .text_h1{ -webkit-transform: rotate(-50deg) translateY(-200%); transform: rotate(-50deg) translateY(-200%); }
.banner .text_h2{ -webkit-transform: rotate(50deg) translateY(-200%); transform: rotate(50deg) translateY(-200%); }
/*文字内容*/
section{ padding: 100px 0; background: #000; text-align: center; overflow: hidden;}
.text{ display: block; width: 910px; margin: 0 auto; -webkit-transform: translateY(100%); transform: translateY(100%); opacity: 0; -webkit-transition: .8s all; transition: .8s all; -moz-transition: .8s all; -o-transition: .8s all;}
.text h2{ font-size: 22px; margin-bottom: 20px; font-weight: 100;}
.text p{ font-size: 14px; font-family: 宋体; line-height: 24px; margin-bottom: 24px; }
.more_a{ margin: 0 auto; display: block; width: 123px; height: 40px; border: solid 2px #fff; border-radius: 5px; font-size: 14px; text-align: center; line-height: 37px; position: relative; overflow: hidden;}
.line{ display: block; width: 15px; height: 40px; background: rgba(255,255,255, 0.8); position: absolute; top: 0; left: -20%; -webkit-transform: skewX(-25deg); transform: skewX(-25deg); }
.more_a:hover{ font-size: 20px; }
.more_a:hover > .line{ left: 120%; }
section .show{ -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
/*图片鉴赏*/
.photos{ width: 100%; overflow: hidden; }
.photos span{ display: block; float: left; overflow: hidden; width: 33.33%; padding: 0; opacity: 0; -webkit-transition: .8s all; transition: .8s all; -moz-transition: .8s all; -o-transition: .8s all;}
.photos span:nth-child(1){ -webkit-transform: translate(-50%,0); transform: translate(-50%,0); }
.photos span:nth-child(2){ -webkit-transform: translate(0,50%); transform: translate(0,50%); }
.photos span:nth-child(3){ -webkit-transform: translate(50%,0); transform: translate(50%,0); }
.photos span img{ width: 100%; display: block;}
#album{ width: 100%; overflow: hidden; }
#album li{ display: block; width: 16.66%; float: left; overflow: hidden; padding: 6% 0; background-position: center center; background-size: cover; cursor: pointer; position: relative; z-index: 1; -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; -webkit-transition: .8s all; transition: .8s all; -moz-transition: .8s all; -o-transition: .8s all;}
#album li:before{ content: ""; position: absolute; background: none; height: 0; top: 50%; width: 100%; left: 0; border: solid 3em rgba(0, 0, 0, 0.5); margin: -3em; z-index: -1; }
#album li:hover:before{ top: 0; height: 100%; }
#album .a_show{ -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
/*大图相册*/
.big_photos{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #525252; z-index: 4; display: none; -webkit-transform: translateY(-100%); transform: translateY(-100%);}
.big_album{ width: 100%; height: 95%; position: relative; background: none;}
.big_album img{ max-width: 100%; max-height: 100%; display: block; margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0}
.big_photos ul{ width: 810px; margin: 0 auto; height: 65px;}
.big_photos li{ float: left; width: 65px; height: 65px; overflow: hidden; background-position: center center; background-size: cover; cursor: pointer; position: relative; z-index: 5; }
.big_photos li:hover{ width: 90px; height: 90px; margin-top: -25px; }
.big_photos span{ display: block; background: rgba(0, 0, 0, 0.5); text-align: center; width: 50px; height: 50px; line-height: 50px; position: absolute; margin-top: -25px; font-size: 20px; cursor: pointer;}
.big_photos .album_left{ top: 50%; left: 0;}
.big_photos .album_right{ top: 50%; right: 0;}
.big_photos .album_close{ top: 25px; right: 0; font-size: 26px; }
.bp_hover{ -webkit-transform: translateY(0); transform: translateY(0); }

/*响应式*/
@media screen and (max-width: 1366px){
	.big_album{ height: 90%; }
	.banner span{ width: 800px; height: 200px; }
	.banner span h2{ font-size: 64px; }
	.banner span h3{ font-size: 24px; }
}
@media screen and (max-width: 930px) {
	header{ display: none; }
	.menu_btn{ display: block; }
	.banner span{ width: 90%; height: 170px; }
	.banner span h2{ font-size: 48px; }
	.banner span h3{ font-size: 18px; }
	.banner span p{ font-size: 14px; }
	.banner span i{ width: 200px; }
	.text{ width: 95%; }
	#album li{ width: 25%; padding: 8% 0;}
	.big_album{ height: 100%; }
	.big_photos ul{ display: none; }
}
@media screen and (max-width: 680px) {
	.banner span{ width: 90%; height: 150px; }
	.banner span h2{ font-size: 38px; }
	.banner span h3{ font-size: 16px; }
	.banner span p{ font-size: 14px; }
	.banner span i{ width: 200px; }
}
@media screen and (max-width: 600px) {
	.banner span h2{ font-size: 24px; }
	.text h2{ font-size: 18px; }
	#album li{ width: 50%; padding: 15% 0;}
}
