/* loading */
.preloader-inner{ position: relative; display: block; width: 100%; height: 100%; -webkit-animation: md-preloader-inner-rotate 5.25s cubic-bezier(.35,0,.25,1) infinite; animation: md-preloader-inner-rotate 5.25s cubic-bezier(.35,0,.25,1) infinite; }
.preloader-inner .preloader-inner-gap { 
	position: absolute; 
	width: 2px; 
	left: 50%; 
	margin-left: -1px; 
	top: 0; bottom: 0;  
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
	border-top: 4px solid #333; }
.preloader-inner .preloader-inner-left,.preloader-inner .preloader-inner-right {
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	overflow: hidden
}
.preloader-inner .preloader-inner-half-circle {
	position: absolute;
	top: 0;
	height: 100%;
	width: 200%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 4px solid #333;
	border-bottom-color: transparent!important;
	border-radius: 50%;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1.3125s;
	animation-duration: 1.3125s;
	-webkit-animation-timing-function: cubic-bezier(.35,0,.25,1);
	animation-timing-function: cubic-bezier(.35,0,.25,1)
}
.preloader-inner .preloader-inner-left { left: 0 }
.preloader-inner .preloader-inner-left .preloader-inner-half-circle { left: 0; border-right-color: transparent!important; -webkit-animation-name: md-preloader-left-rotate; animation-name: md-preloader-left-rotate; }
.preloader-inner .preloader-inner-right { right: 0; }
.preloader-inner .preloader-inner-right .preloader-inner-half-circle { right: 0; border-left-color: transparent!important; -webkit-animation-name: md-preloader-right-rotate; animation-name: md-preloader-right-rotate; }
@-webkit-keyframes md-preloader-left-rotate {
	0%,100% {
		transform: rotate(130deg);
		-webkit-transform: rotate(130deg);
		-moz-transform: rotate(130deg);
		-ms-transform: rotate(130deg);
		-o-transform: rotate(130deg);
    }
	50% {
		transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
    }
}
@keyframes md-preloader-left-rotate {
	0%,100% {
		transform: rotate(130deg)	;
		-webkit-transform: rotate(130deg);
		-moz-transform: rotate(130deg);
		-ms-transform: rotate(130deg);
		-o-transform: rotate(130deg);
    }
	50% {
		transform: rotate(-5deg)	;
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
    }
}
@-webkit-keyframes md-preloader-right-rotate {
	0%,100% {
		transform: rotate(-130deg)	;
		-webkit-transform: rotate(-130deg);
		-moz-transform: rotate(-130deg);
		-ms-transform: rotate(-130deg);
		-o-transform: rotate(-130deg);
    }
	50% {
		transform: rotate(5deg)	;
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-o-transform: rotate(5deg);
    }
}
@keyframes md-preloader-right-rotate {
	0%,100% {
		transform: rotate(-130deg)	;
		-webkit-transform: rotate(-130deg);
		-moz-transform: rotate(-130deg);
		-ms-transform: rotate(-130deg);
		-o-transform: rotate(-130deg);
    }
	50% {
		transform: rotate(5deg)	;
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-o-transform: rotate(5deg);
    }
}
@-webkit-keyframes md-preloader-inner-rotate {
	12.5% {
		transform: rotate(135deg)	;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
	}
	25% {
		transform: rotate(270deg)	;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
	}
	37.5% {
		transform: rotate(405deg)	;
		-webkit-transform: rotate(405deg);
		-moz-transform: rotate(405deg);
		-ms-transform: rotate(405deg);
		-o-transform: rotate(405deg);
	}
	50% {
		transform: rotate(540deg)	;
		-webkit-transform: rotate(540deg);
		-moz-transform: rotate(540deg);
		-ms-transform: rotate(540deg);
		-o-transform: rotate(540deg);
	}
	62.5% {
		transform: rotate(675deg)	;
		-webkit-transform: rotate(675deg);
		-moz-transform: rotate(675deg);
		-ms-transform: rotate(675deg);
		-o-transform: rotate(675deg);
	}
	75% {
		transform: rotate(810deg)	;
		-webkit-transform: rotate(810deg);
		-moz-transform: rotate(810deg);
		-ms-transform: rotate(810deg);
		-o-transform: rotate(810deg);
	}
	87.5% {
		transform: rotate(945deg)	;
		-webkit-transform: rotate(945deg);
		-moz-transform: rotate(945deg);
		-ms-transform: rotate(945deg);
		-o-transform: rotate(945deg);
	}
	100% {
		transform: rotate(1080deg)	;
		-webkit-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		-ms-transform: rotate(1080deg);
		-o-transform: rotate(1080deg);
	}
}
@keyframes md-preloader-inner-rotate {
	12.5% {
		transform: rotate(135deg)	;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
	}
	25% {
		transform: rotate(270deg)	;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
	}
	37.5% {
		transform: rotate(405deg)	;
		-webkit-transform: rotate(405deg);
		-moz-transform: rotate(405deg);
		-ms-transform: rotate(405deg);
		-o-transform: rotate(405deg);
	}
	50% {
		transform: rotate(540deg)	;
		-webkit-transform: rotate(540deg);
		-moz-transform: rotate(540deg);
		-ms-transform: rotate(540deg);
		-o-transform: rotate(540deg);
	}
	62.5% {
		transform: rotate(675deg)	;
		-webkit-transform: rotate(675deg);
		-moz-transform: rotate(675deg);
		-ms-transform: rotate(675deg);
		-o-transform: rotate(675deg);
	}
	75% {
		transform: rotate(810deg)	;
		-webkit-transform: rotate(810deg);
		-moz-transform: rotate(810deg);
		-ms-transform: rotate(810deg);
		-o-transform: rotate(810deg);
	}
	87.5% {
		transform: rotate(945deg)	;
		-webkit-transform: rotate(945deg);
		-moz-transform: rotate(945deg);
		-ms-transform: rotate(945deg);
		-o-transform: rotate(945deg);
	}
	100% {
		transform: rotate(1080deg)	;
		-webkit-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		-ms-transform: rotate(1080deg);
		-o-transform: rotate(1080deg);
	}
}
.preloader{ display: block; width: 50px; height: 50px; position: absolute; margin: auto; left: 0; right: 0; top: 0; bottom: 0; -webkit-animation: md-preloader-outer 3.3s linear infinite; animation: md-preloader-outer 3.3s linear infinite; }
@-webkit-keyframes md-preloader-outer {
	0% { transform: rotate(0); -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); }
	100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
}
@keyframes md-preloader-outer {
	0% { transform: rotate(0); -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); }
	100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
}