/*焦点图*/
.banner{ width: 100%; height: 657px; background-image: url(../img/album5.jpg); background-size: cover; background-position: center center; background-attachment: fixed; overflow: hidden;}
.text{ display: block; width: 900px; padding: 9% 0; background: rgba(0,0,0,0.5); text-align: center; color: #fff; position: relative; margin: auto; top: 20%; -webkit-transition: 1s all; transition: 1s all; -moz-transition: 1s all; -o-transition: 1s all;}
.text_hover{ transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); opacity: 0;}
.text h3{ font-weight: 400; font-size: 38px; margin-bottom: 10px; }
.text i{ font-size: 80px; display: block; margin-bottom: 10px; -webkit-transition: 1s all; transition: 1s all; -moz-transition: 1s all; -o-transition: 1s all;}
.text .i_hover{ transform: rotate(360deg); -webkit-transform: rotate(360deg); opacity: 0;}
.text h2{ font-size: 24px; font-weight: 400; }
.text span{ display: block; width: 110px; height: 110px; position: absolute; margin: -35px;}
.text .line1{ border-top: solid 1px #fff; border-left: solid 1px #fff; top: 0; left: 0; }
.text .line2{ border-top: solid 1px #fff; border-right: solid 1px #fff; top: 0; right: 0; }
.text .line3{ border-bottom: solid 1px #fff; border-left: solid 1px #fff; bottom: 0; left: 0; }
.text .line4{ border-bottom: solid 1px #fff; border-right: solid 1px #fff; bottom: 0; right: 0; }
/*内容*/
.content{ width: 100%; overflow: hidden; }
.content span{ display: block; float: left; overflow: hidden;}
.content span img{ width: 100%; display: block;}
.content h2{ font-size: 28px; font-weight: 400; margin-bottom: 20px; color: rgb(43, 43, 43); }
.content i{ display: block; height: 3px; width: 100px; background: rgb(43, 43, 43); margin: 0 auto 20px;}
.content p{ font-size: 16px; color: rgb(148, 148, 148); margin-bottom: 20px; line-height: 24px;}
.content .right_photos{ float: right; }
.content .photos_scale{ transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); opacity: 0; }
.content_box{ width: 1200px; overflow: hidden; margin: 0 auto; padding: 60px 0;}
.content_box .content_text{ width: 50%; padding: 0 5%}
.content_box .content_photos{ width: 40%; -webkit-transition: .8s all; transition: .8s all; -moz-transition: .8s all; -o-transition: .8s all;}
.color_box{ width: 100%; background: #eeeeee; }
.color_box .color_cen{ width: 1200px; overflow: hidden; margin: 0 auto; padding: 60px 0;}
.color_box .color_text{ width: 40%; text-align: center; padding: 0 5%;}
.color_box .color_photos{ width: 50%; -webkit-transition: .8s all; transition: .8s all; -moz-transition: .8s all; -o-transition: .8s all;}
/*参考案例*/
.demos{ width: 100%; background: #eee;}
.demos_box{ width: 1200px; margin: 0 auto; text-align: center; color: rgb(43, 43, 43); padding: 60px 0;}
.demos_box h2{ font-size: 28px; font-weight: 400; margin-bottom: 20px; ; }
.demos_box i{ display: block; height: 3px; width: 100px; background: rgb(43, 43, 43); margin: 0 auto 20px; }
.demos_box p{ font-size: 18px; margin-bottom: 20px;}
.demos_box ul{ width: 100%; overflow: hidden; }
.demos_box li{ float: left; display: block; width: 24%; margin-left: 1%; overflow: hidden;}
.demos_box img{ display: block; width: 100%; -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: .8s all; transition: .8s all; -moz-transition: .8s all; -o-transition: .8s all;}
.demos_box .img_late{ -webkit-transform: translateX(0); transform: translateX(0) }

/*响应式*/
@media screen and (max-width: 1200px) {
	.text{ width: 80%; padding: 8% 0;}
	.text h3{ font-size: 28px; }
	.text i{ font-size: 64px; }
	.text h2{ font-size: 16px; }
	.text span{ width: 80px; height: 80px; margin: -25px; }
	.content h2{ font-size: 20px; margin-bottom: 10px; }
	.content i{ margin-bottom: 10px; }
	.content p{ font-size: 14px; line-height: 22px; margin-bottom: 10px;}
	.content_box{ width: 100%; }
	.color_box .color_cen{ width: 100%; }
	.demos_box{ width: 100%; }
	.demos_box h2{ font-size: 20px; }
	.demos_box p{ font-size: 15px; }
}
@media screen and (max-width: 930px) {
	header{ display: none; }
	.menu_btn{ display: block; }

}
@media screen and (max-width: 800px) {
	.text h3{ font-size: 20px; }
	.text h2{ font-size: 14px; }
	.content span{ float: none; }
	.content .right_photos{ float: none; }
	.content_box .content_text{ width: 90%; }
	.content_box .content_photos{ width: 90%; margin: 0 auto 60px; }
	.color_box .color_text{ width: 90%; }
	.color_box .color_photos{ width: 90%; margin: 0 auto 60px;}
	.demos_box li{ width: 48%; margin: 0 1% 2% 1%;}
}