.banner{ width: 100%; padding: 25% 0; position: relative; overflow: hidden; background-image: url(../image/album5.jpg); background-size: cover; background-position: center center; background-attachment: fixed; }
.banner_text{ width: 900px; height: 200px; padding: 8% 0; background: rgba(0,0,0,0.5); text-align: center; color: #fff; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; transition: 1s all; -webkit-transition: 1s all; -moz-transition: 1s all; -o-transition: 1s all;}
.banner_text h3{ font-size: 38px; margin-bottom: 10px; }
.banner_text i{ font-size: 80px; display: block; margin-bottom: 10px; transition: 1s all; -webkit-transition: 1s all; -moz-transition: 1s all; -ms-transition: 1s all; -o-transition: 1s all; }
.banner_text .i_hover{ opacity: 0; transform: rotate(720deg); -webkit-transform: rotate(720deg); -moz-transform: rotate(720deg); -ms-transform: rotate(720deg); -o-transform: rotate(720deg); }
.banner_text h2{ font-size: 24px; }
.banner_text span{ display: block; width: 110px; height: 110px; position: absolute; margin: -35px;}
.banner_text .line1{ border-top: solid 1px #fff; border-left: solid 1px #fff; top: 0; left: 0; }
.banner_text .line2{ border-top: solid 1px #fff; border-right: solid 1px #fff; top: 0; right: 0; }
.banner_text .line3{ border-bottom: solid 1px #fff; border-left: solid 1px #fff; bottom: 0; left: 0; }
.banner_text .line4{ border-bottom: solid 1px #fff; border-right: solid 1px #fff; bottom: 0; right: 0; }
/*内容*/
.content{ width: 100%; overflow: hidden; }
.content span{ display: block; float: left; overflow: hidden;}
.content span img{ width: 100%; display: block;}
.content h2{ font-size: 28px; margin-bottom: 20px; color: rgb(43, 43, 43); }
.content i{ display: block; height: 3px; width: 100px; background: rgb(43, 43, 43); margin: 0 auto 20px;}
.content p{ font-size: 16px; color: rgb(148, 148, 148); margin-bottom: 20px; line-height: 24px;}
.content .right_photos{ float: right; }
.content_box{ width: 1200px; overflow: hidden; margin: 0 auto; padding: 60px 0;}
.content_box .content_text{ width: 50%; padding: 0 5%}
.content_box .content_photos{ width: 40%; }
.color_box{ width: 100%; background: #eeeeee; }
.color_box .color_cen{ width: 1200px; overflow: hidden; margin: 0 auto; padding: 60px 0;}
.color_box .color_text{ width: 40%; text-align: center; padding: 0 5%;}
.color_box .color_photos{ width: 50%; }
/*参考案例*/
.demos{ width: 100%; background: #eee;}
.demos_box{ width: 1200px; margin: 0 auto; text-align: center; color: rgb(43, 43, 43); padding: 60px 0;}
.demos_box h2{ font-size: 28px; margin-bottom: 20px; ; }
.demos_box i{ display: block; height: 3px; width: 100px; background: rgb(43, 43, 43); margin: 0 auto 20px; }
.demos_box p{ font-size: 18px; margin-bottom: 20px;}
.demos_box ul{ width: 100%; overflow: hidden; }
.demos_box li{ float: left; display: block; width: 24%; margin-left: 1%; overflow: hidden;}
.demos_box img{ display: block; width: 100%; }
/*响应式*/
@media screen and (max-width: 1200px) {
	.banner_text{ width: 80%; height: 160px; }
	.banner_text h3{ font-size: 28px; }
	.banner_text i{ font-size: 64px; }
	.banner_text h2{ font-size: 16px; }
    .banner_text span{ width: 80px; height: 80px; margin: -25px; }
    .content h2{ font-size: 20px; margin-bottom: 10px; }
	.content i{ margin-bottom: 10px; }
	.content p{ font-size: 14px; line-height: 22px; margin-bottom: 10px;}
	.content_box{ width: 100%; }
	.color_box .color_cen{ width: 100%; }
	.demos_box{ width: 100%; }
	.demos_box h2{ font-size: 20px; }
	.demos_box p{ font-size: 14px; }
}
@media screen and (max-width: 930px) {
    .banner{ padding: 0; height: 100vh; }
}
@media screen and (max-width: 800px) {
	.banner_text h3{ font-size: 22px; }
    .banner_text h2{ font-size: 14px; }
    .content span{ float: none; }
	.content .right_photos{ float: none; }
	.content_box .content_text{ width: 90%; }
	.content_box .content_photos{ width: 90%; margin: 0 auto 60px; }
	.color_box .color_text{ width: 90%; }
	.color_box .color_photos{ width: 90%; margin: 0 auto 60px;}
	.demos_box li{ width: 48%; margin: 0 1% 2% 1%;}
}
@media screen and (max-width: 540px) {
	.banner_text{ height: 180px; }
}