*{ padding: 0; margin: 0; }
body{ font-family: 微软雅黑; color: #D3D3D3; letter-spacing: 1px;}
ul,li{ list-style: none; }
a{ text-decoration: none; color: #fff; }
div,header,ul,li,a,h2,h3,p,i,span,em,*:before,*:after{ -webkit-transition: .4s all; transition: .4s all; -moz-transition: .4s all; -o-transition: .4s all; }
span{ display: block; }
img{ display: block; }
html{ overflow-y: hidden; }

/*pc导航*/
header{ width: 100%; height: 80px; line-height: 80px; position: fixed; top: 0; left: 0; z-index: 3; }
.header{ height: 50px; line-height: 50px; background-image: url(../img/index.jpg); background-size: cover; background-position: center center; box-shadow: 0px 3px 20px #000; }
#logo{ padding: 15px 30px; font-size: 24px; display: block; float: left; }
#logo span{ display: block; width: 175px; height: 50px; background-image: url(../img/logo.png); background-size: 100%; background-position: top; }
#logo:hover{ background: rgba(255, 255, 255, 0.5); }
#logo:hover > span{ background-position: bottom; }
header .pc_menu{ float: right; }
header .pc_menu li{ float: left; display: block;}
.pc_menu li:last-child{ margin-right: 20px; }
header .pc_menu a{ display: block; padding: 0 20px 0 20px; font-size: 14px; position: relative; z-index: 4; }
header .pc_menu a:hover{ color: #000; }
header .pc_menu a:before{ content: ""; position: absolute; left: 0; top: 50%; width: 100%; height: 0; background: rgba(255, 255, 255, 0.5); z-index: -1; }
header .pc_menu a:hover:before{ height: 100%; top: 0;}
/*手机导航*/
.menu_btn{ display: none; width: 46px; height: 46px; text-align: center; position: absolute; top: 0; right: 0; z-index: 10; }
.menu_btn i{ width: 46px; height: 46px; font-size: 26px; line-height: 46px; color: #fff; cursor: pointer; background: rgba(0,0,0,0.5); display: block; margin: 0;}
.phone_menu{ display: none; width: 100%; overflow: hidden; -webkit-transform: translateY(50px); transform: translateY(50px); background: #fff; opacity: 0; -webkit-transition: .4s all; transition: .4s all; -moz-transition: .4s all; -o-transition: .4s all; }
.phone_menu li{ display: block; text-align: center; width: 100%; height: 46px; font-size: 14px; line-height: 46px; color: #000; position: relative; z-index: 10; cursor: pointer;}
.phone_menu li:before{ content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 0; background: rgba(0,0,0,0.1); z-index: -1 }
.phone_menu li:hover:before{ height: 100%; background: #000}
.phone_menu li:hover{ color: #fff; }
.menu_btn .btn_hover{ width: 100%; background: #fff; color: #000; }
.menu_hover{ -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}
/*底部*/
footer{ width: 100%; height: 65px; text-align: center; background: #000;}
footer p{ font-size: 14px; color: #fff; line-height: 65px; margin: 0;}
#goback{ position: fixed; z-index: 3; width: 35px; height: 35px; background: rgba(0, 0, 0, 0.5); text-align: center; font-size: 16px; line-height: 35px; color: #fff; border-radius: 50%; bottom: 20px; right: 5px; cursor: pointer; display: none;}