*{ padding: 0; margin: 0; }
html, body{ background-color: #fafafa; }
body{ width: 100%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; padding: 8px 0; }
img{ display: block; width: 100%; }
a{ text-decoration: none; }
div{ box-sizing: border-box; }
h1,h2,h3,h4,h5,h6{ font-weight: normal; font-style: normal; }
.hide{ display: none !important; }
.flex{ display: flex; flex-wrap: wrap; }
.f1{ flex: 1; }
.f2{ flex: 2; }
.f3{ flex: 3; }
.fvertical{ align-items: center; }
.fcenter{ justify-content: center; }
.page{ width: 1240px; min-height: 100vh; margin: 0 auto; padding: 20px 80px; box-shadow: 0 0 50px rgba(0,0,0,.07); border-radius: 10px; color: #000; }
.page .top{ width: 100%; margin-bottom: 30px; }
.page .name{ font-size: 36px; line-height: 40px; margin-bottom: 8px; }
.page .label{ font-size: 26px; line-height: 40px; color: #333; margin-bottom: 6px; }
.page .info{ height: 54px; font-size: 16px; color: #333; }
.page .info a{ color: #333; }
.page .info .icon{ background-color: #000; border-radius: 100%; width: 32px; height: 32px; margin-right: 8px; display: flex; align-items: center; justify-content: center; }
.page .info .icon .iconfont{ font-size: 18px; color: #fff; }
.page .info-value{ min-width: 240px; display: inline-block; }
.page .portrait{ padding: 16px 0 16px 160px; }
.page .portrait .frame{ width: 200px; height: 240px; border: double 6px #000; background-color: #f2f2f2; }
.page .portrait .frame img{ object-fit: cover; height: 100%; }
.page .tbline{ border-bottom: solid 2px #000; }
.page .section{ margin-bottom: 36px; }
.page .section .column{ width: 100%; height: 44px; }
.page .section .column-box{ width: 240px; padding-left: 16px; background-color: #000; margin-right: 54px; color: #fff; position: relative; z-index: 2; }
.page .section .column-box::before{ position: absolute; content: ""; width: 100%; height: 100%; top: 0; left: 22px; background-color: #000; transform: skewX(45deg); z-index: -1; }
.page .section .column-box .iconfont{ font-size: 24px; margin-right: 14px; }
.page .section .column-box h2{ font-size: 24px; line-height: 24px; }
.page .section .column-line{ position: relative; }
.page .section .column-line::before{ position: absolute; content: ""; bottom: 0; left: 0; width: 100%; height: 6px; background-color: #000; transform: skewX(45deg); }
.page .section .content{ font-size: 16px; color: #333; }
.page .section .content .title{ height: 54px; font-size: 20px; }
.page .section .content .content-info{ line-height: 26px; }
.page .section .content .content-info span{ border-bottom: solid 1px #666; padding: 2px 5px; }
.page .section .content .content-info p{ margin-bottom: 10px; }
