.content{ width: 100%; height: 4rem; padding: .2rem; background: linear-gradient(to right, #bbd2c5, #536976, #292e49); margin-bottom: .2rem; }
.content .box{ width: 100%; text-align: center; padding-top: 8px; }
.content .ball-list{ width: 100%; }
.content .ball-list .ball{ width: .78rem; height: .78rem; border-radius: 100%; margin: 0 4px 8px; font-size: .36rem; color: #fff; text-align: center; line-height: .78rem; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); animation: ballShow .3s; }
.content .ball-list .blue-ball{ background-color: #2196f3; }
.content .ball-list .red-ball{ background-color: #f44336; }
.open-btn{ display: block; margin: 0 auto 16px; }
.open-btn a{ color: #fff; }

@keyframes ballShow {
    0%{ opacity: 0; transform: scale(0); }
    100%{ opacity: 1; transform: scale(1); }
}

